.container{
    max-width: 1440px;
    margin: 0 auto;
}

.img-logo{
    width: 150px;
    height: 150px;
}

//HEADER

header{
    background-image: linear-gradient(to bottom, #42291163, #422911), url(../imagens/bg.jpg);
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

.header-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px 80px 10px;

    img{
        margin: 20px 20px 0px 20px;
    }

    h1{
        color: white;
        font-size: 1.8em;
        margin: 0px 20px 0px 20px;
    }
}

.header-center{
    text-align: center;
    padding: 0px 20px 50px 20px;
    font-size: 1.2em;
    max-width: 600px;
    margin: auto;
    color: white;

    p#frase{
        text-decoration: none;
    }
    p#autor{
        text-align: right;
        font-size: 0.8em;
        padding-top: 5px;
    }
}

@media screen and (max-width: 700px){
    .header-top{
        flex-direction: column;

        h1{
            text-align: center;
            padding-top: 20px;
        }
    }
}

//ABOUT

.about{
    background-color: #422911;
}

.about-content{
    padding: 30px 10px 20px 10px ;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    gap: 14px;

    img{
        max-width: 760px;
    }
}

.about-content div{
    flex: 1;
}

.about-description{
    color: white;
    text-align: right;

    h1{
        margin-bottom: 15px;
        font-size: 1.8em;
    }

    p{
        line-height: 150%;

    }
}

@media screen and (max-width: 760px){
    .about-content{
        flex-direction: column;
    }

    .about-description{
        text-align: center;
    }
    
}

//MAIN

.space-main{
    margin: 10px;
}

.geral-autor{
    background-color: white;
    border-radius: 10px;
    color: black;
}

.autor-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
}

.apresentacao-autor{
    padding: 10px;
    h1{
        padding-bottom: 10px;
    }
}

.apresentacao-autor button{
    border: 1px solid #422911;
    color: #422911;
    padding: 10px 40px;
    display: block;
    margin: auto;
    margin-top: 10px;
    text-decoration: center;
    text-align: center;
    transition: 0.4s;
}

.apresentacao-autor button:hover{
    border: 1px solid #422911;
    color: white;
    background-color: #422911;
}

@media screen and (max-width:760px){
    .autor-content{
        img{
            max-width: 200px;
            max-height: 400px;
        }
        flex-direction: column;
    }
}