@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Klee+One&display=swap');

@import "../partials/colors";
@import "../partials/layout";

:root{
    --fonte-padrao: Verdana, Geneva, sans-serif;
    --fonte-titulo: 'Passion One', cursive;
    --fonte-poema: 'Klee One', cursive;

    --cor1: #C27930;
    --cor2: #8C6D4D;
    --cor3: #75491D;
    --cor4: #C2966B;
    --cor5: #422911;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: none;
    font-family: var(--fonte-padrao);
}

body{
    background-color: var(--cor3);
    width: 100%;
    height: 100vh;
    position: relative;
}

button{
    font-family: var(--fonte-padrao);
    cursor: pointer;
}

img{
    width: 100%;
}
